* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.square:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.display {
  margin-top: 15px;
}
